@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');

input {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 25px!important; 
}

.container .collection {
    position: absolute;
    width: 50vw;
    z-index: 3;
}